.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 529px}
.u-section-1 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 409px}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-text-1 {margin: 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-image-1 {min-height: 409px; background-image: url("images/54e8d2474c57a514f6da8c7dda793678153bdee757596c48702773d69145c15cbc_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 364px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 337px}
.u-section-1 .u-image-1 {min-height: 337px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 285px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-1 {min-height: 258px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 708px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {min-height: 581px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 493px}
.u-section-1 .u-image-1 {min-height: 366px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 354px}
.u-section-2 .u-text-1 {margin: 62px 106px 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 20px 106px 62px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-top: 60px}
.u-section-2 .u-text-2 {margin-bottom: 60px} }.u-section-3 .u-sheet-1 {min-height: 561px}
.u-section-3 .u-layout-wrap-1 {width: 1140px; margin: 52px auto 52px -2px}
.u-section-3 .u-layout-cell-1 {min-height: 400px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {margin: 0 90px 0 0}
.u-section-3 .u-text-2 {margin: 20px auto 20px 0}
.u-section-3 .u-layout-cell-2 {min-height: 400px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-3 {margin: 0 36px 0 0}
.u-section-3 .u-text-4 {margin: 20px auto 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 400px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-text-5 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-text-6 {margin-left: 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 374px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 330px}
.u-section-3 .u-text-1 {margin-right: 56px}
.u-section-3 .u-layout-cell-2 {min-height: 330px}
.u-section-3 .u-text-3 {margin-right: 0}
.u-section-3 .u-layout-cell-3 {min-height: 330px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 214px}
.u-section-3 .u-layout-wrap-1 {position: relative; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-text-1 {margin-right: 0}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 314px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 148px} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 278px}
.u-section-4 .u-group-1 {width: 800px; min-height: 277px; background-image: none; height: auto; margin: 1px auto}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {margin: 20px 2px 0}
.u-section-4 .u-btn-1 {border-style: solid; margin: 20px auto 0} 

@media (max-width: 1199px){ .u-section-4 .u-group-1 {margin-left: 70px}
.u-section-4 .u-container-layout-1 {min-height: 264px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 114px}
.u-section-4 .u-group-1 {width: 720px; min-height: 77px; margin-left: 0}
.u-section-4 .u-container-layout-1 {min-height: 100px}
.u-section-4 .u-text-1 {margin-left: 1px; margin-right: 1px} }

@media (max-width: 767px){ .u-section-4 .u-group-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-group-1 {width: 340px} }.u-section-5 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 324px}
.u-section-5 .u-text-1 {width: 798px; margin: 92px auto 0}
.u-section-5 .u-text-2 {font-size: 1rem; line-height: 1.8; letter-spacing: 0; width: 798px; margin: 20px auto 60px} 

@media (max-width: 991px){ .u-section-5 .u-text-1 {width: 720px}
.u-section-5 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-5 .u-text-1 {width: 540px}
.u-section-5 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {width: 340px}
.u-section-5 .u-text-2 {width: 340px} }.u-section-6 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 546px}
.u-section-6 .u-text-1 {margin: 20px auto 0}
.u-section-6 .u-layout-wrap-1 {width: 1014px; min-height: 426px; margin: 20px auto 0}
.u-section-6 .u-layout-cell-1 {min-height: 213px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-image-1 {height: 142px; width: 142px; background-image: url("images/0-2.jpeg"); background-position: 50% 50%; margin: 0 auto}
.u-section-6 .u-layout-cell-2 {min-height: 213px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-text-2 {margin: 0}
.u-section-6 .u-text-3 {margin: 20px 0 0}
.u-section-6 .u-layout-cell-3 {min-height: 213px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-image-2 {height: 142px; width: 142px; background-image: url("images/photo.jpg"); background-position: 50% 26.28%; margin: 0 auto}
.u-section-6 .u-layout-cell-4 {min-height: 213px}
.u-section-6 .u-container-layout-4 {padding: 30px}
.u-section-6 .u-text-4 {margin: 42px 0 0}
.u-section-6 .u-text-5 {margin: 20px 0 0}
.u-section-6 .u-layout-cell-5 {min-height: 213px}
.u-section-6 .u-container-layout-5 {padding: 30px}
.u-section-6 .u-image-3 {height: 142px; width: 142px; background-image: url("images/aKulik_small.jpg"); background-position: 50% 0%; margin: 0 auto}
.u-section-6 .u-layout-cell-6 {min-height: 213px}
.u-section-6 .u-container-layout-6 {padding: 30px}
.u-section-6 .u-text-6 {margin: 29px 0 0}
.u-section-6 .u-text-7 {margin: 20px 0 0}
.u-section-6 .u-layout-cell-7 {min-height: 213px}
.u-section-6 .u-container-layout-7 {padding: 30px}
.u-section-6 .u-image-4 {height: 142px; width: 142px; background-image: url("images/Friston.JPG"); background-position: 50% 50%; margin: 0 auto}
.u-section-6 .u-layout-cell-8 {min-height: 213px}
.u-section-6 .u-container-layout-8 {padding: 30px}
.u-section-6 .u-text-8 {margin: 29px 0 0}
.u-section-6 .u-text-9 {margin: 20px 0 0}
.u-section-6 .u-layout-wrap-2 {width: 1014px; margin: 0 auto 60px}
.u-section-6 .u-layout-cell-9 {min-height: 203px}
.u-section-6 .u-container-layout-9 {padding: 30px}
.u-section-6 .u-image-5 {height: 142px; width: 142px; background-image: url("images/portrait_qisun.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-6 .u-layout-cell-10 {min-height: 203px}
.u-section-6 .u-container-layout-10 {padding: 30px}
.u-section-6 .u-text-10 {margin: 0}
.u-section-6 .u-text-11 {margin: 20px 0 0}
.u-section-6 .u-layout-cell-11 {min-height: 203px}
.u-section-6 .u-container-layout-11 {padding: 30px}
.u-section-6 .u-layout-cell-12 {min-height: 203px}
.u-section-6 .u-container-layout-12 {padding: 30px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 26px}
.u-section-6 .u-layout-wrap-1 {width: 940px; min-height: 130px}
.u-section-6 .u-layout-cell-1 {min-height: 176px}
.u-section-6 .u-layout-cell-2 {min-height: 176px}
.u-section-6 .u-layout-cell-3 {min-height: 176px}
.u-section-6 .u-layout-cell-4 {min-height: 176px}
.u-section-6 .u-layout-cell-5 {min-height: 176px}
.u-section-6 .u-layout-cell-6 {min-height: 176px}
.u-section-6 .u-layout-cell-7 {min-height: 176px}
.u-section-6 .u-layout-cell-8 {min-height: 176px}
.u-section-6 .u-layout-wrap-2 {width: 940px; min-height: 130px}
.u-section-6 .u-layout-cell-9 {min-height: 176px}
.u-section-6 .u-layout-cell-10 {min-height: 176px}
.u-section-6 .u-layout-cell-11 {min-height: 176px}
.u-section-6 .u-layout-cell-12 {min-height: 176px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 74px}
.u-section-6 .u-layout-wrap-1 {width: 720px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-layout-cell-4 {min-height: 100px}
.u-section-6 .u-layout-cell-5 {min-height: 100px}
.u-section-6 .u-layout-cell-6 {min-height: 100px}
.u-section-6 .u-layout-cell-7 {min-height: 100px}
.u-section-6 .u-layout-cell-8 {min-height: 100px}
.u-section-6 .u-layout-wrap-2 {width: 720px}
.u-section-6 .u-layout-cell-9 {min-height: 100px}
.u-section-6 .u-layout-cell-10 {min-height: 100px}
.u-section-6 .u-layout-cell-11 {min-height: 311px}
.u-section-6 .u-layout-cell-12 {min-height: 238px} }

@media (max-width: 767px){ .u-section-6 .u-layout-wrap-1 {width: 540px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-wrap-2 {width: 540px}
.u-section-6 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-10 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-cell-11 {min-height: 467px}
.u-section-6 .u-container-layout-11 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-cell-12 {min-height: 357px}
.u-section-6 .u-container-layout-12 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-layout-wrap-1 {width: 340px}
.u-section-6 .u-layout-wrap-2 {width: 340px}
.u-section-6 .u-layout-cell-11 {min-height: 294px}
.u-section-6 .u-layout-cell-12 {min-height: 225px} }